<div ng-controller="homeController as home" ng-cloak>
	<md-content class="md-padding">

		<ng-include src="'app/components/templates/tabs.html'"></ng-include>

		<div class="ext-content">

			<div ng-if="home.current === 'Search'">
				<ng-include src="'app/components/home/tabs/search.html'"></ng-include>
			</div>

			<div flex-offset="25" flex="50" layout="column" ng-if="home.current === 'User'">
				<ng-include src="'app/components/home/tabs/user.html'"></ng-include>
			</div>

			<div ng-if="home.current === 'Stars'">
				<ng-include src="'app/components/home/tabs/stars.html'"></ng-include>
			</div>
		</div>

	</md-content>
</div>
