<div ng-controller="homeController as home" ng-cloak>
	<md-content class="md-padding">
		<md-nav-bar md-selected-nav-item="home.current" nav-bar-aria-label="navigation links">
			<md-nav-item md-nav-click="home.setCurrent('Search')" name="Search">
				Search
			</md-nav-item>
			<md-nav-item md-nav-click="home.setCurrent('User')" name="User">
				User informations
			</md-nav-item>
			<md-nav-item md-nav-click="home.setCurrent('Stars'); home.getStars()" name="Stars">
				Stars
			</md-nav-item>
		</md-nav-bar>

		<div class="ext-content">

			<div ng-if="home.current === 'Search'">
				<ng-include src="'app/components/home/tabs/search.html'"></ng-include>
			</div>

			<div flex-offset="25" flex="50" layout="column" ng-if="home.current === 'User'">
				<ng-include src="'app/components/home/tabs/user.html'"></ng-include>
			</div>

			<div ng-if="home.current === 'Stars'">
				<ng-include src="'app/components/home/tabs/stars.html'"></ng-include>
			</div>
		</div>

	</md-content>
</div>
